# The astropy project

The Astropy Project is a community effort to develop a common core package for Astronomy in Python and foster an ecosystem of interoperable astronomy packages.

A major part of the Astropy Project is the concept of [“Affiliated Packages”](http://www.astropy.org/affiliated/index.html). An affiliated package is an astronomy-related Python package that is not part of the astropy core package, but has requested to be included as part of the Astropy Project community. These packages demonstrate a commitment to Astropy’s goals of improving reuse, interoperability, and interface standards for Python astronomy and astrophysics packages.

See the [Astropy documentation](http://docs.astropy.org) for a structured view of the functionality within the Astropy project.

Other useful resources are the [Example Gallery](http://docs.astropy.org/en/stable/generated/examples/) and the
 [Tutorials](http://www.astropy.org/astropy-tutorials/)
 
 
This notebook presents a few useful classes defined by `astropy`.

# Quantities and units

`astropy.units` handles defining, converting between, and performing arithmetic with physical quantities, such as meters, seconds, Hz, etc. It also handles logarithmic units such as magnitude and decibel.

`astropy.units` does not know spherical geometry or sexagesimal (hours, min, sec): if you want to deal with celestial coordinates, see the astropy.coordinates package.

A `Quantity` represents a number with some associated unit.
The Quantity object is meant to represent a value that has some unit associated with the number.

* http://docs.astropy.org/en/stable/units/index.html
* http://docs.astropy.org/en/stable/units/quantity.html

In [1]:
from astropy import units as u

l=1*u.m # define a Quantity
t=1*u.s

# you can make operations with Quantities
v=l/t
v

Unit conversion is done using the `to()` method, which returns a new `Quantity` in the given unit:

In [2]:
v_kmh=v.to(u.km/u.h)
v_kmh

# Constants
`astropy.constants` contains a number of physical constants useful in astronomy. Constants are `Quantity` objects with additional meta-data describing their provenance and uncertainties.


http://docs.astropy.org/en/stable/constants/index.html

To use the constants in S.I. units, you can import the constants directly from the astropy.constants sub-package:

In [3]:
from astropy import constants as const

print (const.c)
const.c

  Name   = Speed of light in vacuum
  Value  = 299792458.0
  Uncertainty  = 0.0
  Unit  = m / s
  Reference = CODATA 2014

<<class 'astropy.constants.codata2014.CODATA2014'> name='Speed of light in vacuum' value=299792458.0 uncertainty=0.0 unit='m / s' reference='CODATA 2014'>

`astropy.constants` are `Quantities` and therefore it is possible to convert them to other units

In [4]:
c_kms=const.c.to('km/s')

print(c_kms)

299792.458 km / s

It is possible to convert most constants to cgs using e.g.:

In [5]:
const.c.cgs

You can find the list of available constants here:
http://docs.astropy.org/en/stable/constants/index.html#reference-api

### <span style="color:red">Example</span> Calculate the mean density of the Earth in $g/cm^3$

In [6]:
import numpy as np

m=const.M_earth
r=const.R_earth
V=4/3*np.pi*r**3

d=(m/V).to(u.g/u.cm**3)
d

### <span style="color:red">Exercise</span> orbital speed of the Earth

Use `Quantity` and Kepler's law in the form given below to determine the (circular) orbital speed of the Earth around the sun in km/s. 

\begin{equation}
\sqrt{\frac{GM_\odot}{r}}
\end{equation}


There's a much easier way to figure out the velocity of the Earth using just two units or quantities. Do that and then compare to the Kepler's law answer (the easiest way is probably to compute the percentage difference, if any).

In [7]:
# %load solutions/earth_speed.py

# Coordinates
The [astropy.coordinates](http://docs.astropy.org/en/stable/coordinates/index.html) package provides classes for representing a variety of celestial/spatial coordinates and their velocity components, as well as tools for converting between common coordinate systems in a uniform way.

`Skycoord` is a class providing a flexible interface  for celestial coordinate representation, manipulation, and transformation between systems.

The `SkyCoord` class accepts a wide variety of inputs for initialization. At a minimum these must provide one or more celestial coordinate values **with unambiguous units**. Inputs may be scalars or lists/tuples/arrays, yielding scalar or array coordinates

In [8]:
from astropy import units as u
from astropy.coordinates import SkyCoord

# define a `Skycoord` using RA and DEC **with units**
c1 = SkyCoord(ra=10.6252*u.degree, dec=41.27321*u.degree, frame='icrs')
c1

<SkyCoord (ICRS): (ra, dec) in deg
    ( 10.6252,  41.27321)>

There is a quick way to get coordinates for named objects assuming you have an active internet connection.

In [9]:
c2=SkyCoord.from_name("M31")
c2

<SkyCoord (ICRS): (ra, dec) in deg
    ( 10.6847929,  41.269065)>

In [10]:
RA=c2.ra
DE=c2.dec
print (RA)
print (DE)
print (RA.degree)
print (DE.degree)

print ("---")
# galactic coordinates
l=c2.galactic.l
b=c2.galactic.b
print (l.degree)
print (b.degree)

10d41m05.2544s
41d16m08.634s
10.6847929
41.269065
---
121.17440967072984
-21.572996314671283

Computes on-sky separation between `c1` and another skycoordinate:

In [11]:
sep=c1.separation(c2)

print (sep)
type(sep)

0d02m41.9323s

astropy.coordinates.angles.Angle

an Angle is a quantity

In [12]:
print (sep.to(u.arcmin))
# but you can also do:
sep.arcmin

2.69887arcmin

2.698872122049102

# Tables

`astropy.table` provides functionality for storing and manipulating heterogeneous tables of data in a way that is familiar to numpy users.

A few notable capabilities of this package are:
* Initialize a table from a wide variety of input data structures and types.
* Modify a table by adding or removing columns, changing column names, or adding new rows of data.
* Handle tables containing missing values.
* Create a new table by selecting rows or columns from a table.
* Maintain a table index for fast retrieval of table items or ranges.
* Reading and writing Table objects to files.

http://docs.astropy.org/en/stable/table/

## Reading and Table objects

It is possible to create a Table from files in different formats.
(see [Built-in table readers/writers]("http://docs.astropy.org/en/stable/io/unified.html#built-in-readers-writers"))

http://docs.astropy.org/en/stable/table/io.html#read-write-tables

In [13]:
from astropy.table import Table
tab=Table.read("data/quasars.csv")
tab

<Table length=10>
       Name        RAJ2000    DEJ2000     z
      str17         str10       str9   float64
----------------- ---------- --------- -------
FIRST J00000-0202 00:00:01.3 -02:02:00   1.356
 2QZ J000001-3036 00:00:01.4 -30:36:27   1.143
 2QZ J000001-3122 00:00:01.7 -31:22:26   1.331
  XMM J00000-2511 00:00:02.7 -25:11:37   1.314
    MS 23574-3520 00:00:02.8 -35:03:33   0.508
 2QZ J000005-2725 00:00:05.6 -27:25:10    1.93
 SDSS J00001+0030 00:00:06.6 +00:30:55   1.823
 SDSS J00001+0016 00:00:08.2 +00:16:35   1.837
 SDSS J00001+1517 00:00:09.3 +15:17:54   1.199
 SDSS J00001+1356 00:00:09.4 +13:56:18    2.24

In [14]:
# The same can be obtained using the ascii module 

from astropy.io import ascii

tab=ascii.read("data/quasars.csv") # the input filw is csv
tab

<Table length=10>
       Name        RAJ2000    DEJ2000     z
      str17         str10       str9   float64
----------------- ---------- --------- -------
FIRST J00000-0202 00:00:01.3 -02:02:00   1.356
 2QZ J000001-3036 00:00:01.4 -30:36:27   1.143
 2QZ J000001-3122 00:00:01.7 -31:22:26   1.331
  XMM J00000-2511 00:00:02.7 -25:11:37   1.314
    MS 23574-3520 00:00:02.8 -35:03:33   0.508
 2QZ J000005-2725 00:00:05.6 -27:25:10    1.93
 SDSS J00001+0030 00:00:06.6 +00:30:55   1.823
 SDSS J00001+0016 00:00:08.2 +00:16:35   1.837
 SDSS J00001+1517 00:00:09.3 +15:17:54   1.199
 SDSS J00001+1356 00:00:09.4 +13:56:18    2.24

In [15]:
# get the 4th row
tab[3]

<Row index=3>
      Name       RAJ2000    DEJ2000     z
     str17        str10       str9   float64
--------------- ---------- --------- -------
XMM J00000-2511 00:00:02.7 -25:11:37   1.314

In [16]:
# get the names of the columns
tab.colnames

['Name', 'RAJ2000', 'DEJ2000', 'z']

In [17]:
# get the values in one columns
tab["z"]

<Column name='z' dtype='float64' length=10>
1.356
1.143
1.331
1.314
0.508
 1.93
1.823
1.837
1.199
 2.24

`tab["z"]` is not a numpy array, but it can be used like an array.

In [18]:

print("MAX",tab["z"].max())
print(" ")

print(tab["z"]+1) ## note that you make operations on the content of the column, the name of the column does not change!!
                   ## when you print this column its name is "z"
# note: when you print you are printing the column, with the header

MAX 2.24

  z
-----
2.356
2.143
2.331
2.314
1.508
 2.93
2.823
2.837
2.199
 3.24

In [19]:
# if you want to extract the numpy array:
v=tab["z"].data

print (type(v))
print (v)

<class 'numpy.ndarray'>
[ 1.356  1.143  1.331  1.314  0.508  1.93   1.823  1.837  1.199  2.24 ]

## add columns

* create an array from one column
* process the data to create something new
* add this as a new column to the table.

for example: 
convert RAJ2000 (that is in `h:m:s`) and DEJ2000 (that is in `d:m:s`) in decimal degrees and add them as two new columns named
`RAdeg` and `DEdeg`

In [20]:
from astropy.coordinates import SkyCoord
import astropy.units as u

coordinates=SkyCoord(tab["RAJ2000"], tab["DEJ2000"],unit=(u.hour,u.degree))
ra=coordinates.ra
de=coordinates.dec
#ra = coord.Angle( unit=u.hour).to(u.degree)
#de = coord.Angle(tab["DEJ2000"], unit=u.degree) 

tab["RAdeg"]=ra
tab["DEdeg"]=de
tab

<Table length=10>
       Name        RAJ2000    DEJ2000     z         RAdeg           DEdeg
                                                     deg             deg
      str17         str10       str9   float64     float64         float64
----------------- ---------- --------- ------- ---------------- --------------
FIRST J00000-0202 00:00:01.3 -02:02:00   1.356 0.00541666666667 -2.03333333333
 2QZ J000001-3036 00:00:01.4 -30:36:27   1.143 0.00583333333333       -30.6075
 2QZ J000001-3122 00:00:01.7 -31:22:26   1.331 0.00708333333333 -31.3738888889
  XMM J00000-2511 00:00:02.7 -25:11:37   1.314          0.01125 -25.1936111111
    MS 23574-3520 00:00:02.8 -35:03:33   0.508  0.0116666666667 -35.0591666667
 2QZ J000005-2725 00:00:05.6 -27:25:10    1.93  0.0233333333333 -27.4194444444
 SDSS J00001+0030 00:00:06.6 +00:30:55   1.823           0.0275 0.515277777778
 SDSS J00001+0016 00:00:08.2 +00:16:35   1.837  0.0341666666667 0.276388888889
 SDSS J00001+1517 00:00:09.3 +15:17:54   1.199          0.03875  15.2983333333
 SDSS J00001+1356 00:00:09.4 +13:56:18    2.24  0.0391666666667  13.9383333333

**NOTE**: `tab["RAdeg"]`

```python
if a column named "RAdeg" already exists
    update
else
    create a new column
```